
.header {
    width: 100%;
    background-color: gray;
    height: 175px;
    
    img {
        width: 150px;
        float: left;

    }
}
.bound {
    width: 30%;
    min-height: 800px;

    float: left;

    border: solid 1px black;
    margin-right: 4%;
}

.columns .bound:nth-of-type(3n) {
    margin-right: 0px;
    float: right;
}

.item-img {
    /*height: 150px;*/
    width: 100%;

    clear: both;
    /*float: left;*/
    overflow: hidden;
    margin: auto;
}

.button {
    width: 96px;
    height: 20px;

    display: inline-block;
    float: left;

    border: solid 1px black;
    background-color: white;

    text-align: center;
    line-height: 18px;
    margin: 1px;

}

.container-left {
    background-color: blue;
}
.container-center {
    background-color: green;
}
.container-right {
    background-color: gray;
}


.footer {
    clear: both;
    height: 150px;
    width: 100%;
    background-color: gray;
}


@media screen and (min-width: 405px) {
    body {
        background-color: white;
    }
}

@media screen and (min-width: 600px) {
    body {
        background-color: #CCEAED;
    }
}

@media screen and (min-width: 800px) {
    body {
        background-color: #97E8F0;
    }
}
